header {
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.tabs .indicator {
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}

.section {
    margin-top: 2rem;
}

h2 {
    margin-top: 0;
}

